* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Cabin', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: pink;
    color:orangered
}




.header {
    padding: 40px;
    background-color: #87e02f;
    width: 100%; 
    float: right;
    color: orangered;
    position: fixed;
}



.header div {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: orangered;
}


.header div ul li {
    display: inline-block; 
    margin-left: 25px;
}

a {
    text-decoration:none;
    color:orangered;
}

.image {
    color:orangered;
    display: inline-block;
    text-align: center;
    margin: 150px;
    font-size: 13px;
}

.form {
    text-decoration:none;
    margin: 170px 200px;
}

.footer {
    text-align:center;
    text-decoration:none;
    font-size:10px;
    padding: 40px;
    background-color: #87e02f;
    width: 100%;  
    text-shadow: #87e02f;
}